:root {
	--primary: #ef653b;
	--secondary: #4b4fa1;
}

body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	color: var(--primary);
}

p {
	line-height: 2;
}

a {
	text-decoration: none;
}

.btn {
	background-color: var(--primary);
	font-size: 14pt;
	font-weight: bold;
	cursor: pointer;
}

.btn:hover {
	background-color: #ca5531;
}

/* nav */
nav a {
	font-size: 14pt;
}

/* intro */
#intro {
	background-color: #fff3e050;
}

/* section info */
#info span {
	color: #ca4f29;
}

.card {
	border-color: var(--primary);
}

.card-header {
	background-color: transparent;
	border: none;
	color: var(--primary);
}

/* section importante */
#importante {
	background-color: var(--secondary);
	color: white;
}

/* section - protocolos */
#protocolos span {
	color: #ca4f29;
}

/* section - agendamento */
#agendamento {
	background-color: var(--primary);
}

#botao-agendamento {
	box-shadow: 0px 5px 0px #ac421c;
}

#botao-agendamento:active {
	transform: translateY(5px);
	box-shadow: none;
}

/* footer */
#creditos p,
#creditos a {
	color: #939393;
}
